.login{
    min-height: 100vh;
    background: url(/background.png) no-repeat center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login .logo{
    width   : max(20vw, 300px);
}
.login-form{
    background: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.login-form h2{
    text-align: center;
    font-weight: 500;
}

.form-input{
    padding: 8px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    outline-color: #777;
}

.login-form button{
    padding: 10px;
    background-color: #077eff;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    border  : none;
    cursor: pointer;
    transition: 0.3sec;
}
.login-form button:active{
    transform: scale(0.98);
}

.login-form button:hover{
    background-color: #055ecc;
}

.login-term{
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: #808080;
}

.login-forgot{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-toggle{
    font-size: 13px;
    color: #5c5c5c;
    cursor: pointer;
}

.login-toggle span{
    font-weight: 500;
    color: #077eff;
    cursor: pointer;
    font-style: italic;
}