.chatBox{
    height: 75vh;
    position: relative;
    background-color: #e9e9e9;
}

.chat-user{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-bottom: 1px solid #c6c6c6;
}
.chat-user img{
    width: 35px;
    border-radius: 50% ;
}
.chat-user img:first-child{
    width: 30px;
    aspect-ratio: 1/1;
}

.chat-user p{
    flex: 1;
    font-weight: 500;
    font-size: 15px;
    color: #393939;
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-input{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.chat-input img{
    width: 30px;
    cursor: pointer;
}

.chat-input label{
    display: flex;
}

.chat-input label img{
    width: 22px;
}

.chat-input input{
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
}